.counters {
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	margin-top: 50px;
}

.center {
    margin-left: 420px;
    width: 70%;
}

.panel-body {
	font-size: 20px;
}

.nav-tabs {
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 30px;
}

/*line graph*/

.line-graph {
	width: 1000px;
	height: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.graphs {
	margin-left: -1%;

}

/*pie charts*/

/*#myPie {
	display: inline-block;
	max-width: 400px;
}
*/
.piecharts {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10%;

}

#pieChartAndTitle {
	width:400px;
	display: inline-block;
}

/*main navbar*/

.navbar-header {
	margin-left: 90px;
	margin-bottom: 10px;
	margin-top: -10px;
}

.navbar-right {
	margin-right: 100px;
	font-size: 20px;
}

/*inbox navbar*/

.inbox-nav {
	margin-top: 89px;
}

.num-display {
	margin-top: 30px;
	margin-right: -50px;
}

.ticket-list {
	margin-top: -9px;
	margin-bottom: 10%;
}

#ticket-table td {
	max-height: 41px;
	padding-top: -5px;
}

#pagination {
	margin-right: -230px;
}

.controller {
	margin-bottom: -62px;
}

.messages {
	margin-top: 30px;
}

.open-message {
	background-color: #fafafa;
	padding-right: 100px;
}

#message-title {
	font-weight: bold;
}

.message-body {
	margin: 10px 10px;
}

#ticket-tag {
	margin-bottom: -10px;
}

#ticket-update {
	width:64px !important;
	height: 40px;
}

#ticket-sentiment {
	width: 77px !important;
	height: 40px;
}

#ticket-name {
	width: 144px !important;
	height: 40px;
}

#ticket-subject {
	width: 435px !important;
	height: 40px;
}

#ticket-date {
	width: 74px !important;
	height: 40px;
}

#ticket-reply {
	width: 50px !important;
	height: 40px;
}


/*other*/

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;

}

a:active {
    text-decoration: none !important;
}

.centerElement {
	text-align: center;
}


