.counters {
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	margin-top: 50px;
}

.center {
    margin-left: 420px;
    width: 70%;
}

.panel-body {
	font-size: 20px;
}

.nav-tabs {
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 30px;
}

/*line graph*/

.line-graph {
	width: 1000px;
	height: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*pie charts*/

#myPie {
	max-width: 500px;
	margin-right: -500px;
}


/*main navbar*/

.navbar-header {
	margin-left: 90px;
	margin-bottom: 10px;
	margin-top: -10px;
}

.navbar-right {
	margin-right: 100px;
	font-size: 20px;
}

/*inbox navbar*/

.inbox-nav {
	margin-top: 100px;
}

