<!DOCTYPE html>
<html>
  <head>
    <title>Sent App</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="ticket-list"></div>

    <!-- Javascript -->
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type = "text/jsx" src="/static/js/react.js"></script>
  </body>
</html>
