<!DOCTYPE html>
<html>
  <head>
    <title>Sent App</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="analytics-dashboard"></div>
    <!-- Javascript -->
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type = "text/jsx" src="/static/js/dashboard.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="static/js/react-bootstrap-bower-master/react-bootstrap.min.js"></script>
    <script>
      var Alert = ReactBootstrap.Alert;
    </script>
  </body>
</html>



<!-- 
    <p>Click here to go to your angry inbox: <form action="/inbox/upset">
      <input type="submit" value="Click Here">
    </form></p>
    <p>Click here to go to your happy inbox:
    <form action="/inbox/positive">
      <input type="submit" value="Click Here"></form></p>
    <p>Click here to go to your neutral inbox:
    <form action="inbox/neutral">
      <input type="submit" value="Click Here"></form></p>
  -->

